# ==========================================================
# MedFinder Environment Configuration
# ==========================================================

# AI API Key for Natural Language Search
# Add your Google Gemini API Key or LLM API Key here
AI_API_KEY=YOUR_API_KEY_HERE

# Django Secret Key & Debug Flag
SECRET_KEY=django-insecure-6q52p-0y5k6)4ecd_o4=q2ttb1)rd@f7rv*w#w9*h&&9v_pz^*
DEBUG=True
