.footer{

background:#0f172a;

color:white;

padding:80px 0 20px;

}

.footer h3{

font-weight:700;

margin-bottom:20px;

}

.footer h5{

margin-bottom:20px;

font-weight:600;

}

.footer ul{

list-style:none;

padding:0;

}

.footer li{

margin-bottom:12px;

}

.footer a{

color:#cbd5e1;

transition:.3s;

}

.footer a:hover{

color:white;

padding-left:5px;

}

.socials{

display:flex;

gap:15px;

margin-top:25px;

}

.socials a{

width:45px;

height:45px;

display:flex;

align-items:center;

justify-content:center;

background:#1e293b;

border-radius:50%;

font-size:20px;

}

.socials a:hover{

background:#2563eb;

}

.footer hr{

margin:40px 0 20px;

border-color:#334155;

}