<footer class="footer">

<div class="container">

<div class="row gy-5">

<div class="col-lg-4">

<h3>

<i class="fa-solid fa-capsules"></i>

MediFind

</h3>

<p>

Locate medicines from nearby pharmacies with real-time stock availability.

</p>

<div class="socials">

<a href="#"><i class="fab fa-facebook"></i></a>

<a href="#"><i class="fab fa-instagram"></i></a>

<a href="#"><i class="fab fa-linkedin"></i></a>

<a href="#"><i class="fab fa-github"></i></a>

</div>

</div>

<div class="col-lg-2">

<h5>

Company

</h5>

<ul>

<li><a href="#">Home</a></li>

<li><a href="#">About</a></li>

<li><a href="#">Contact</a></li>

<li><a href="#">Support</a></li>

</ul>

</div>

<div class="col-lg-3">

<h5>

Services

</h5>

<ul>

<li><a href="#">Medicine Search</a></li>

<li><a href="#">Nearby Pharmacies</a></li>

<li><a href="#">Inventory</a></li>

<li><a href="#">GPS</a></li>

</ul>

</div>

<div class="col-lg-3">

<h5>

Contact

</h5>

<p>

support@medifind.com

</p>

<p>

+91 XXXXX XXXXX

</p>

</div>

</div>

<hr>

<p class="text-center mb-0">

© 2026 MediFind. All Rights Reserved.

</p>

</div>

</footer>