{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your user account at MediAI.

Please click the link below to set a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this reset, you can safely ignore this email. Your password will remain unchanged.

Best regards,
The MediAI Team
https://medifind-steel.vercel.app
{% endautoescape %}
